<p id="notice"><%= notice %></p>

<p>
  <strong><h5>Title:</h5></strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Picture:</strong>
  <img src="<%= @post.picture %>">
</p>

<% render :partial => @post %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<h2>Comments</h2>
<div id="comments">
	<%= render partial: @post.comments %>
</div>

<%= form_for [@post, Comment.new],remote: true do |f| %>
	<p>
		<%= f.label :body, "New Comment" %>
			<br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add comments"%></p>
<% end %>